@media only screen and (min-width: 600px) {
    .pie-graph {
      height: 500px;
      width: 1000px;
      
    }
  
  }
  @media only screen and (max-width: 500px) {
    .pie-graph {
      height: 100%;
      width: 100%;
      
    }
  
  }

html,body,h1,h2,h3,h4,h5 {font-family: "Arvo", sans-serif}
